<!DOCTYPE html>
<html>
<head>
  <title>joey's blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">joey's blog</a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><%= link_to('logout', destroy_user_session_path, :method => :delete) %></li>
            <li><%= link_to 'new article', new_article_path %></li>
            </ul>
            <% else %>
              <%= render "/welcome/login" %>
            <% end %>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="jumbotron">
      <h2>"any fool can know. the point is to understand."</h2>
      <span>- Albert Einstein</span>
    </div>
        <div class="container">
        

      <div class="row">
              <% if notice %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-warning" role="alert"><%= alert %></div>
      <% end %>
        <div class="col-sm-8 blog-main">
            <%= yield %>
        </div><!-- /.blog-main -->

        <div class="col-sm-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>about</h4>
            <p>Hello and welcome! You have found this site through a link I have shared, most likely. If not, I guess…welcome?</p>

            <p>My background has me dabbling in all these: communications, marketing, business, hot dogs, paintball, video editing, video production, project management, web development, graphic design, app development, print layout design, snowboarding and much much more. Those keywords have applied to my job/education for the past 10 years. I graduated with my B.S. from University of Wisconsin in Communications, an A.A.S. in Video and Motion Graphics, as well as an M.B.A. from University of Wisconsin - Madison.</p>

            <p>But right now, and for the next couple of months I will just be - Joey, Chicago Bobolinks DBC hopeful.</p>
          </div>
          <div class="sidebar-module">
            <h4>about town</h4>
            <ol class="list-unstyled">
              <li><a href="http://github.com/axhi">GitHub</a></li>
              <li><a href="http://twitter.com/sabanimals">Twitter</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
</body>

</html>
